<title>Brian Mayer's frontpage</title>
<link rel="icon" href="data:;base64,=">
<meta charset="UTF-8" />
<meta name="language" content="english" />
<meta name="author" content="Brian Lee Mayer">
<meta name="description" content="blmayer.dev is my website, find here some of my projects and CV." />
<meta name="keywords" content="developer, CV, programmer, brian, mayer, blmayer" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta property="og:url" content="https://blmayer.dev">
<meta property="og:type" content="website">
<meta property="og:title" content="blmayer.dev">
<meta property="og:description" content="blmayer.dev is my website, find here some of my projects and CV.">
<meta property="og:site_name" content="blmayer.dev">
<meta property="og:locale" content="en_US">
