{{template "style.html"}}
{{template "head.html"}}
{{template "header.html" .User}}
{{template "nav.html" .}}

<h1>{{.Repo}}</h1>

<details>
	<summary>
		Browsing {{.RefName}}
	</summary>
	<ul>
		{{range branches .Ref}}
		<li><a href={{.Hash.String}}>{{.Name.Short}}</a></li>
		{{end}}
	</ul>
</details>

<p>{{commits .Ref | len}} commits</p>

<p><b>git clone http://localhost:8080/{{.User}}/{{.Repo}}</b></p>
<hr>

<h2>RFCs</h2>
{{with thread "RFC/Open"}}
<details open>
	<summary><b>Open</b></summary>
	<ol reversed>
		{{range .}}
		<a href=rfc/Open/{{.Title}}>{{.Title}}</a>
		{{end}}
	</ol>
</details>
{{end}}

{{with thread "RFC/Closed"}}
<details>
	<summary><b>Closed</b></summary>
	<ol reversed>
		{{range .}}
		<a href=rfc/Closed/{{.Title}}>{{.Title}}</a>
		{{end}}
	</ol>
</details>
{{end}}
