{{template "style.html"}}
{{template "head.html"}}
{{template "header.html" .User}}
{{template "nav.html" .}}

<h1>{{.Repo}}</h1>

<details>
	<summary>
		Browsing {{.RefName}}
	</summary>
	<ul>
		{{range branches .Ref}}
		<li><a href={{.Hash.String}}>{{.Name.Short}}</a></li>
		{{end}}
	</ul>
</details>

<p>{{commits .Ref | len}} commits</p>

<p><b>git clone http://localhost:8080/{{.User}}/{{.Repo}}</b></p>
<hr>

<h2>RFCs</h2>
{{with thread "open"}}
<details open>
	<summary><b>Open</b></summary>
	<ol reversed>
		{{range .}}
		<a href=open/{{.Title}}>{{.Title}}</a>
		<aside style="float:right">
			<small>
				Created {{.Created.Format "2006-01-02 15:04:05"}}
			</small>
		</aside>
		{{end}}
	</ol>
</details>
{{end}}

{{with thread "closed"}}
<details>
	<summary><b>Closed</b></summary>
	<ol reversed>
		{{range .}}
		<a href=closed/{{.Title}}>{{.Title}}</a>
		{{end}}
	</ol>
</details>
{{end}}
