{{template "style.html"}}
{{template "head.html"}}
{{template "header.html" .User}}
{{template "nav.html" .}}

<h1>{{.Repo}}</h1>

<details>
	<summary>
		Browsing {{.RefName}}
	</summary>
	<ul>
		{{range branches .Ref}}
		<li><a href={{.Hash.String}}>{{.Name.Short}}</a></li>
		{{end}}
	</ul>
</details>

<p>{{commits .Ref | len}} commits</p>

<p><b>git clone http://localhost:8080/{{.User}}/{{.Repo}}</b></p>
<hr>

<h2>[RFC] {{.Args}}</h2>
{{with print "RFC/" .Args}}
	{{range (mails .)}}
	<address>
		From: {{.From}}
	<small style="float: right">{{.Date.Format "Mon, 02 Jan 2006 15:04:05 MST"}}</small>
	</address>
	<blockquote>{{.Body | markdown}}</blockquote>
	{{end}}
{{end}}
