<style>
	html {
		background-color: Black;
		color: LawnGreen;
	}
	body {
		max-width: 720px;
		margin: 60px auto;
		font-family: Courier, monospace;
		font-size: 14pt;
	}
	table {
		width: 100%;
	}
	th {
		text-align: left;
	}
	a {
		color: Fuchsia;
	}
	hr {
		height: 2px;
		margin: 20px auto;
		border-top: 3px dotted Fuchsia;
		border-bottom: 3px dotted Fuchsia;
		border-right: none;
		border-left: none;
	}
	.line {
		width: 100%;
		border-top: none;
		border-bottom: 3px dashed Fuchsia;
	}
	img {
		width: 100%;
		height: 540px;
	}
	pre {
		font-size: medium;
	}
	htop {
		display: flex;
		justify-content: center;
		gap: 0 20px;
		flex-wrap: wrap;
	}
	diff {
		color: Fuchsia;
	}
	ul li {
		list-style: none;
	}
	li::before {
		content: "- ";
	}
</style>
