{{template "style.html"}}
{{template "head.html"}}
{{template "header.html" .Creator}}
{{template "nav.html" .}}

<h1>{{.Name}}</h1>

<details>
	<summary>
		Browsing at {{if .RefName}}
		{{.RefName}}
		{{else}}
		{{.Ref}}
		{{end}}
	</summary>
	<ul>
		{{range .Branches}}
		<li><a href={{.Hash.String}}>{{.Name}}</a></li>
		{{end}}
	</ul>
</details>

<p><i>{{.Desc}}</i></p>

<p><b>git clone {{.CloneURL}}</b></p>

{{if .Readme}}
	<h2>Readme</h2>
	{{.Readme}}
{{end}}

{{if .License}}
	<h2>License</h2>
	{{.License}}
{{end}}
