{{template "style.html"}}
{{template "head.html"}}
{{template "header.html" .User}}
{{template "nav.html" .}}

<center><i>{{template "desc.html" .Git}}</i></center>
<p>
	<b>git clone http://localhost:8080/{{.User}}/{{.Repo}}</b>
	<a style="float:right" href="/{{.User}}/{{.Repo}}/zip?ref={{.Query.ref}}" download="{{.Repo}}">zip</a>
</p>
<hr>

{{with $tree := (.Git.Head.Target | .Git.LookupCommit).Tree}}
<h1>Readme</h1>
{{($.Git.LookupBlob ($tree.EntryByName "README.md").Id).Contents | markdown}}

<h1>TODO</h1>
{{($.Git.LookupBlob ($tree.EntryByName "TODO.md").Id).Contents | markdown}}

<h1>License</h1>
<pre>{{($.Git.LookupBlob ($tree.EntryByName "LICENSE").Id).Contents | printf "%s"}}</pre>

{{end}}

