{{template "style.html"}}
{{template "head.html"}}
{{template "header.html" .User}}
{{template "nav.html" .}}

<h1>{{.Repo}}</h1>

<details>
	<summary>
		Browsing {{.RefName}}
	</summary>
	<ul>
		{{range branches .Ref}}
		<li><a href={{.Hash.String}}>{{.Name.Short}}</a></li>
		{{end}}
	</ul>
</details>

<p>{{commits .Ref | len}} commits</p>

<p><b>git clone {{.CloneURL}}</b></p>
<hr>


{{if ne "" (file .Ref "README.md")}}
	<h2>Readme</h2>
	{{file .Ref "README.md" | markdown}}
{{end}}

{{if ne "" (file .Ref "LICENSE")}}
	<h2>License</h2>
	<pre>{{file .Ref "LICENSE"}}</pre>
{{end}}

