{{template "head.html"}}
{{template "style.html"}}

<h2>Users</h2>
<ul>
{{range users}}
<li><a href="{{.}}">{{.}}</a></li>
{{end}}
</ul>

<h2>System status</h2>
{{with sysinfo}}
<table>
	<tr><th>Metric</th><th>Value</th></tr>
	<tr><td>Git Users</td><td>len users</td></tr>
	{{with usage}}
	<tr><td>Total space</td><td>{{.Total}} Mb</td></tr>
	<tr><td>Space used</td><td>{{.Used}} Mb</td></tr>
	<tr><td>Space available</td><td>{{.Free}} Mb</td></tr>
	{{end}}
	<tr><td>Uptime</td><td>{{.Uptime}}h</td></tr>
	<tr><td>Total RAM</td><td>{{.Totalram}}</td></tr>
	<tr><td>Free RAM</td><td>{{.Freeram}}</td></tr>
	<tr><td>Load</td><td>{{index .Loads 0}}</td></tr>
	<tr><td>Load</td><td>{{index .Loads 1}}</td></tr>
	<tr><td>Load</td><td>{{index .Loads 2}}</td></tr>
</table>
{{end}}
